html{
    background-image: linear-gradient(#800080, #9663c4);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* DomaineDisplay, 'serif'; */
    color: antiquewhite;
    

}
#header{
    background-color: black;
    font-size: 50px;
    text-align: center;
    height: 100px;
}

div{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-bar{
   
    font-size: 50px;
    height:auto;
    display:flex;
    justify-content: center;
  
}

#album-nav{
    
}

.flex-container {
    display: flex;
    float: left;
    width: 75% !important;
    background-color: white;

}

.flex-child{
    flex: 1;
    float: left;
    width: auto;
    margin: 10px;
    margin-left: 40px;
    font-size: xx-large;
    background-color: black;
    justify-content: center;
}

#favorites{
    background-color: blue;
    opacity: 0.3;
   float: right;
   width: 22% !important;
   text-align: center;
   height: auto;
}
/* .container{
    display: block;
} */

img {
    margin: 10px
}

#faveTrack{
    float: left;
}

button{
    display: flex;
}

#album_nav img:hover {
    filter: drop-shadow(0 0 0.75rem #CBC3E3)
}

#album-image{
  display: block;
   max-width: 700px;
   max-height: 700px;
   filter: drop-shadow(0 0 2em #483248);
}

